@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mb-7 {
    margin-bottom: 100px;
}
body {
    padding: 0;
    margin: 0;
}
.nav-links ul li a {
    color: white;
    font-family: "Roboto", sans-serif;
    font: normal normal normal 21px/48px Roboto;
}
.homepage-links ul li {
    font: normal normal normal 21px/24px Roboto;
}
.languages ul li {
    font: normal normal normal 21px/24px Roboto;
    color: #838383;
}
/*Intro*/
.intro {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* slider je boja koja je trenutno sakrivne i ne vidi se ali u js cu da je podginem */
.slider {
    background-color: #3285a7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color: #d9c787;
    font-family: "Heebo", sans-serif;
    font-size: 5rem !important;
    font-weight: 900;
}
.intro-text .hide .text {
    font-size: 5rem !important;
    font-weight: 900;
}
.text {
    font-size: 5rem !important;
    font-weight: 900;
}
.hide {
    background-color: black;
    overflow: hidden;
}
.hide span {
    transform: translateY(100%);
    display: inline-block;
}

.nav {
    width: 85%;
    float: right;
}
.navbar-homepage-helper {
    position: absolute;
    top: 2%;
    left: 2%;
}
.homepage {
    /* background-image: url("/assets/img/Homepage-cover-v5.png"); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}
#slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
}

#slideshow > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
#slideshow > div img {
    object-fit: cover;

    width: 100%;
    height: 100vh;
}
.logo {
    width: 10%;
}

.logo img {
    width: 100%;
    height: 100%;
}
.nav-links {
    /* width: 90%; */
}
.nav-links ul {
    width: 70%;
    justify-content: center;
}
.nav-links ul li {
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    color: white;
    font: var(--unnamed-font-style-normal) normal normal
        var(--unnamed-font-size-21) / 48px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 16px/48px Roboto;
}

.homepage-text h1 {
    color: white;
    font-size: 48px;
    top: 40%;
    left: 5%;
    text-align: left;
    font: normal normal normal 48px/72px Libre Baskerville;
    letter-spacing: 0px;
    color: #ffffff;
    text-shadow: 0px 1px 3px #00000021;
}
.homepage-footer {
    bottom: 0%;
    left: 5%;
    width: 85%;
    float: right;
}
ul li {
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    color: white;
    font: var(--unnamed-font-style-normal) normal normal
        var(--unnamed-font-size-21) / 48px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 16px/48px Roboto;
    white-space: nowrap;
}
footer {
    height: 70px;
    position: fixed;
    background-color: #2c6d88;
    z-index: 99999;
    top: 93%;
    left: 0;
}
.footer li a {
    color: white;
    padding: 0px 55px;
}
.lang-footer li a {
    padding: 0px 10px;
    color: #81ada0;
}

.lang-footer li .active-language {
    color: #d9c787;
}

iframe {
    width: 550px;
}

.w-20 {
    width: 20%;
}
.w-0 {
    width: 0%;
}

.no-wrap {
    white-space: nowrap;
}
.video-container-open {
    height: 60%;
    opacity: 1 !important;
}
.video-container {
    top: 12%;
    right: 12%;
    width: 14%;
    /* height: 70%; */
    /* background: #ffffff 0% 0% no-repeat padding-box; */
    opacity: 0;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    overflow-y: scroll;
}

.video-wrapper {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}
.video {
    z-index: 22;
}
.video iframe {
    width: 118px;
    height: 81px;
}
.video-holder {
    height: 0;
}
.video-font {
    text-align: left;
    font-size: 13px;
    letter-spacing: 0px;
    color: #2c6d88;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.ytp-title-enable-channel-logo .ytp-title {
    display: none !important;
}
.html5-video-player a {
    display: none !important;
}
.ytp-title-text {
    display: none !important;
}
.ytp-title-channel-logo {
    display: none !important;
}
.date-video {
    position: absolute;
    left: 13%;
    bottom: 5%;
    font-size: 13px !important;
    margin: 0 !important;
}
.date-video p {
    font-size: 13px !important;
}
.blur-bg {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    /* filter: blur(20px); */
    background: white;
    opacity: 0.7;
}
.h-22 {
    height: 550px;
}

.more-link {
    position: absolute;
    bottom: 3%;
    left: 5.5%;
}
.more-link a {
    font-size: 11px;
    position: fixed;
    height: 50px;
    color: #2c6d88;
}
.mobile {
    display: none;
}
.desktop {
    display: block;
}

@media screen and (max-width: 950px) {
    .nav-desktop {
        display: none !important;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .mobile-img-home {
        object-fit: cover;
        width: 100%;
        height: auto !important;
        margin-top: 100px;
    }
    .homepage-text h1 {
        color: black !important;
        font: normal normal normal 24pt/38px Libre Baskerville;
        top: 55%;
    }
    .nav-mobile {
        display: block !important;
    }
    .mobile-nav {
        height: 60px;
        background-color: RGBA(219, 202, 141, 1);
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .toggler-home {
        background-color: #819ba7 !important;
    }
    .toggler-home::before {
        background-color: #819ba7 !important;
    }
    .toggler-home::after {
        background-color: #819ba7 !important;
    }
    .mobile-nav a {
        position: absolute;
        top: 20px;
        left: 10px;
    }
    .header-btn-mobile {
        position: absolute !important;
        top: 0;
        right: 0;
    }
    .nav-links-container-mobile {
        width: 100%;
        background-color: RGBA(219, 202, 141, 1);
        height: 0vh;
        position: absolute;
        top: 60px;
        display: none;
    }
    .nav-links-container-mobile-open {
        height: 100vh !important;
        display: block !important;
        z-index: 99;
    }

    .nav-links-container-mobile ul li {
        padding-top: 15%;
        padding-left: 10%;
    }
    .nav-links-container-mobile ul li a {
        font-size: 24px;
        color: #2c6d88;
    }
    .hr-nav {
        height: 4px;
        background-color: #b4ab7b;
        margin-top: 0 !important;
        border-top: 0 !important;
    }
    .hr-50 {
        width: 50%;
    }
    .hr-60 {
        width: 70%;
    }
    .hr-70 {
        width: 90%;
    }
    .home-btn {
        justify-content: center !important;
        align-content: center !important;
        display: flex !important;
        margin-top: 30%;
    }
    .header-mobile-links.mobile-open {
        transition: all 0.5s ease-in-out;
    }
    .video-mobile-btn {
        width: 100%;
        background-color: #6e9c8c;
        height: 40px;
        position: absolute;
        top: 60px;
        left: 0;
        color: white;
    }
    .video-mobile {
        left: 0 !important;
        top: 100px !important;
        width: 100% !important;
        height: 100% !important;
    }
    .blur-bg {
        width: 100%;
        height: 100%;
        background-color: #6e9c8c !important;
        opacity: 1;
    }
    .video-container {
        opacity: 1 !important;
        display: none;
    }
    .op-1 {
        display: block;
    }
    .mobile-vid {
        cursor: pointer;
    }
    .homepage-footer {
        width: 100% !important;
        z-index: 9999999999999;
        left: 0 !important;
        background: linear-gradient(90deg, #2c6d88, #3285a7);
    }
    .homepage-links ul li {
        font-size: 16px !important;
    }
    .languages-mobile {
        position: absolute;
        top: 110px;
        right: 37px;
        color: #81ada0;
    }
    .active-language {
        color: #d9c787 !important;
    }
    .languages-mobile ul li {
        color: #81ada0;
    }
}
/* @media screen and (max-width: 700px) {
    .homepage-text h1 {
        top: 50% !important;
    }
}
*/
@media screen and (min-width: 750px) and (max-width: 950px) {
    .homepage-text h1 {
        color: white !important;
    }
    .mobile-img-home {
        height: 100% !important;
    }
}

@media screen and (min-width: 550px) {
    .homepage-text h1 {
        color: white !important;
    }
}
